.compass {
    fill: white;
    stroke: #6e6e6e;
    stroke-width: 1;
}
.button {
    fill: #6e6e6e;
}

.button:hover {
    fill: #1a2980;
}

.button_directional {
    fill: #6e6e6e;
}

.button_directional:hover {
    fill: #1a2980;
}

.plus-minus {
    fill: white;
    pointer-events: none;
}