  .tooltip ul {
    padding-left: 0px;
    list-style:none;
  }

  .tooltip-inner {
    padding-top: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    min-width: 350px;
    width: 350px; 
    border: 1px solid black;
    text-align: left !important;
    color: white !important;
    background: black;
    opacity: 0.9;
    filter:alpha(opacity=80);
    font-size: 14px;
  }

  .arrow {
    border: 2px solid transparent !important;
  }